<!DOCTYPE html>
<!-- This site was created in Webflow. https://webflow.com -->
<!-- Last Published: Thu Nov 28 2024 18:23:02 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="academytemplate.webflow.io" data-wf-page="5f52d24bbe17c5398e1c6bf8" data-wf-site="5f52d24bbe17c561061c6b7a" data-wf-status="1" lang="en">
{{ partial "head" . }}
 <body>
  <div class="page-wrapper">
{{ partial "nav" . }}
   <div class="section video-hero">
    <div class="container-default-1209px w-container">
     <div class="video-hero-wrapper">
      <div class="split-content video-hero-left" data-w-id="fee87d54-5c1d-9d5c-67e3-157fa7bb8ab3" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <h1 class="title video-hero">
        کمپ طراحی محصول دیجیتال
       </h1>
       <p class="paragraph video-hero">
        بیش از ۱۵۰ ساعت آموزش تخصصی، همراهی منتورهای باتجربه، ورکشاپ‌های تعاملی و یادگیری کاربردی هوش مصنوعی در طراحی محصول؛ همه آنچه برای تبدیل شدن به یک طراح حرفه‌ای نیاز داری، اینجاست. در این مسیر، تجربه یادگیری UX/UI رو به‌روز، واقعی و همراه با حمایت همدلانه طی خواهی کرد.
       </p>
       <a class="button-primary w-button" href="#Course" data-open-tab="1">
        درباره کمپ
       </a>
       <a class="button-primary w-button" href="#Course" data-open-tab="4">
        همین حالا ثبت‌نام کنید!
       </a>
      </div>
      <div class="course-preview video-hero" data-w-id="63cfe198-7374-b53a-7ec2-349f89f8f8ac" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <img alt="Blog Post Icon" class="image" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c599b11c6be3_image-videos-course-academy-template.svg"/>
       <div class="course-preview-wrapper">
        <a class="course-preview-button w-inline-block w-lightbox" href="#">
         <div class="button-play-wrapper">
          <img alt="Play Icon" class="button-play course-videos" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c535821c6c77_icon-play-academy-template.svg"/>
         </div>
         <script class="w-json" type="application/json">
          {
  "items": [
    {
      "url": "/img/file.mp4",
      "originalUrl": "/img/file.mp4",
      "width": 940,
      "height": 528,
      "thumbnailUrl": "/img/thumbnail.jpg",
      "html": "<video width=\"940\" height=\"528\" controls><source src=\"/img/file.mp4\" type=\"video/mp4\">Your browser does not support the video tag.</video>",
      "type": "video"
    }
  ],
  "group": ""
}
</script>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="section videos">
    <div class="container-fw video-card-details w-container">
     <div class="animation-wrapper" data-w-id="24541658-8c67-a0b0-835c-748585847b28" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
      <div class="card videos-details">
       <div class="course-detail-wrapper">
        <img alt="Medium Icon" class="videos-detail-icon" src="/img/icons/level-02.svg"/>
        <div class="videos-detail-text">
         سطح: ‌
        </div>
        <div class="videos-detail-text strong">
         مقدماتی تا پیشرفته
        </div>
       </div>
       <div class="spacer videos-details">
       </div>
       <div class="course-detail-wrapper">
        <img alt="Play Icon" class="videos-detail-icon" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c5e61f1c6bc9_icon-course-detail-01-academy-template.svg"/>
        <div class="videos-detail-text">
         شهریه: ‌
        </div>
        <div class="videos-detail-text strong">
         ۱۸,۰۰۰,۰۰۰ تومان
        </div>
       </div>
       <div class="spacer videos-details">
       </div>
       <div class="course-detail-wrapper">
        <img alt="Clock Icon" class="videos-detail-icon" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c581641c6bdc_icon-event-02-academy-template.svg"/>
        <div class="videos-detail-text">
         شروع: ‌
        </div>
        <div class="videos-detail-text strong">
         ۱۰ مهر ۱۴۰۴
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="container-fw video-tabs w-container">
     <div class="videos-tabs w-tabs" data-current="Tab 1" data-duration-in="300" data-duration-out="100" data-easing="ease">
      <div class="videos-tabs-menu w-tab-menu" id="Course">
       <a class="videos-tab-link w-inline-block w-tab-link w--current" data-w-id="fee87d54-5c1d-9d5c-67e3-157fa7bb8ad7" data-w-tab="Tab 1" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div>
         درباره کمپ
        </div>
       </a>
       <a class="videos-tab-link w-inline-block w-tab-link" data-w-id="fee87d54-5c1d-9d5c-67e3-157fa7bb8ada" data-w-tab="Tab 2" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div>
         سرفصل‌ها
        </div>
       </a>
       <a class="videos-tab-link w-inline-block w-tab-link" data-w-id="fee87d54-5c1d-9d5c-67e3-157fa7bb8add" data-w-tab="Tab 3" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div>
         تیم آموزشی
        </div>
       </a>
       <a class="videos-tab-link w-inline-block w-tab-link" data-w-id="fee87d54-5c1d-9d5c-67e3-157fa7bb8ae0" data-w-tab="Tab 4" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.97, 0.97, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
        <div>
         رویه ثبت‌نام
        </div>
       </a>
      </div>
      <div class="videos-tabs-content w-tab-content" data-w-id="fee87d54-5c1d-9d5c-67e3-157fa7bb8ae3" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
       <div class="videos-tab-panel about w-tab-pane w--tab-active" data-w-tab="Tab 1">
        <h2>
          در این کمپ چه چیزهایی یاد خواهید گرفت؟

        </h2>
        <div class="rich-text w-richtext">
         <p>
          کمپ تخصصی، جامع و پروژه‌محور «طراحی محصول دیجیتال» در وی‌کمپ، شما رو برای ورود به دنیای حرفه‌ای طراحی و توسعه محصول آماده می‌کند. این کمپ شامل
          <strong>
          آموزش‌های عمیق
          </strong>
          اصول طراحی محصول، تجربه کاربری و استفاده از ابزارهای مدرن تحلیل محصول است.
         </p>
         <figure class="w-richtext-align-fullwidth w-richtext-figure-type-image" style="max-width:1524pxpx">
          <div>
           <img alt="Design" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c538ca1c6c5c_image-about-course-academy-template.jpg"/>
          </div>
         </figure>
         <p>
          شما یاد خواهید گرفت چگونه محصولاتی کاربردی و جذاب طراحی کنید و روش‌های استراتژیک فکر کردن و حل مسئله رو نیز فرامی‌گیرید.
         </p>
         <p>
          در کمپ طراحی محصول وی‌کمپ،
          <strong>
          پاییز موسوی
          </strong>
          در جایگاه کورس اونر حضور دارد. تجربه پاییز در هدایت پروژه‌ها و همکاری تیمی، تضمین می‌کند که محتوای کمپ دقیق و کاربردی و اثرگذار باشد. هم‌چنین «نام تسهیل‌گر» مدیریت تعاملات، زمان‌بندی جلسات و اطمینان از روان بودن فرآیند برگزاری کمپ بر عهده دارد. با ایشان بیشتر آشنا شوید:
         </p>
         <div class="videos-wrapper">
          <div class="videos-social-media-wrapper">
            <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/paeez-mousavi/">
            <div class="split-content videos-community-left">
              <div class="icon-videos-community-wrapper">
              <img alt="teacher" src="/img/camps/design-1404/Paeez-Mousavi.png"/>
              </div>
              <div>
              <h3 class="title videos-community-card">
              پاییز موسوی
              </h3>
              <p class="paragraph mg-bottom-0px">
              راهبر کمپ
              </p>
              </div>
            </div>
            <div class="button-secondary small">
              <div>
              لینکدین
              </div>
            </div>
            </a>
          </div>
          <div class="videos-social-media-wrapper">
            <a class="card videos-community w-inline-block" href="https://www.linkedin.com/#">
            <div class="split-content videos-community-left">
              <div class="icon-videos-community-wrapper">
              <img alt="teacher" src="/img/camps/design-1404/Placeholder-2.png"/>
              </div>
              <div>
              <h3 class="title videos-community-card">
              «نام تسهیل‌گر»
              </h3>
              <p class="paragraph mg-bottom-0px">
              تسهیل‌گر کمپ
              </p>
              </div>
            </div>
            <div class="button-secondary small">
              <div>
              لینکدین
              </div>
            </div>
            </a>
          </div>
        </div>
        <br>
         <p>
                 با تمرکز بر پروژه‌های عملی و از طریق منتورشیپ شما برای طراحی محصولاتی که بازار را تغییر می‌دهند، آماده می‌شوید. در پایان این سفر چند ماهه، یک طراح محصول کامل و اطمینان‌بخش خواهید بود که می‌توانید ایده‌های خود و سازمانتان را به واقعیت تبدیل کنید.

         </p>
         <p>
         🌟
         <h5>
         ویژگی‌های کمپ
         </h5>
         <ul>
            <li>
          ۱۵۰+ ساعت آموزش پروژه‌محور
            </li>
            <li>
          تمرکز بر ابزارهای مدرن و هوش مصنوعی
            </li>
            <li>
          منتورشیپ تخصصی در تمام مراحل
            </li>
            <li>
          یادگیری همراه با تمرین و پروژه واقعی
            </li>
            <li>
          خروجی ملموس برای ورود به بازار کار
            </li>
          <ul>
         </p>
        </div>
       </div>
       <div class="videos-tab-panel w-tab-pane" data-w-tab="Tab 2">
        <div class="top-content files">
         <h3 class="title files">
          با محتوای دوره آشنا شوید
         </h3>
         <h5>
          🧭 شروع از پایه، رسیدن به حرفه‌ای
         </h5>
         <p>
          در ابتدای دوره، با مفاهیم پایه‌ی UX، UI و طراحی محصول آشنا می‌شوید. مسیرهای شغلی، نقش‌ها و ابزارهای کلیدی رو یاد می‌گیرید تا تصویر روشنی از آینده‌ی حرفه‌ای‌تون داشته باشید.
         </p>
         <h5>
         🧠 تفکر طراحی: حل مسئله به سبک طراحان برتر
         </h5>
         <p>
         فلسفه و مراحل تفکر طراحی رو قرا می‌گیرید. تمرین‌های عملی از همدلی تا تست راه‌حل انجام می‌دهید و یاد حواهید گرفت که از هوش مصنوعی برای ایده‌پردازی، ساخت پرسونا و تحلیل داده‌ها استفاده کنید.
         </p>
         <h5>
         🎨 خلاقیت، موتور محرک یک طراح موفق
         </h5>
         <p>
         در ورکشاپ خلاقیت، روش‌های الهام‌گیری، تکنیک‌های خلاقیت فردی و گروهی، و راه‌های عبور از بن‌بست‌های ذهنی رو تمرین می‌کنید. یاد می‌گیرید چطور با ذهن باز ایده‌هایی نو و کاربردی بسازید.
         </p>
         <h5>
         💼 دیزاین و بیزنس: زبان مشترک با تیم محصول
         </h5>
         <p>
         فهمیدن رابطه‌ی واقعی بین طراحی و بیزنس، تعامل مؤثر با مدیر محصول، و شناخت زبان مشترک تیم‌های چندرشته‌ای، شما رو به دیزاینری تبدیل می‌کند که هم دیده می‌شود، هم تأثیرگذار عمل می‌کند.
         </p>
         <h5>
         🔍 تحقیقات کاربر: طراحی بر پایه داده
         </h5>
         <p>
         مصاحبه، تحلیل پرسش‌نامه، تست کاربردپذیری و نحوه ارائه گزارش‌های کاربردی، پایه یک طراحی موفق است. در این بخش به روش‌های کیفی و کمی UX Research تسلط پیدا می‌کنید.
         </p>
         <h5>
         📊 ورکشاپ داده‌ها: از عدد تا بینش
         </h5>
         <p>
         یاد می‌گیرید چطور داده‌ها رو تفسیر کنید، از اشتباهات رایج در تحلیل دور بمانید و تصمیم‌های طراحی رو بر پایه بینش واقعی بسازید.

         </p>
         <h5>
         🌐 تجربه کاربری: طراحی برای انسان
         </h5>
         <p>
         از اصول زیبایی‌شناسی مثل رنگ، تایپوگرافی و گرید گرفته تا ساخت کامپوننت، طراحی واکنش‌گرا و سیستم دیزاین با Figma، اینجا همه‌چیز رو یاد می‌گیرید تا طراحی‌‌هاتون حرفه‌ای و قابل ارائه باشد.
         </p>
         <h5>
         🧰 ابزارمحور، واقعی، کاربردی
         </h5>
         <p>
         با ابزارهای حرفه‌ای مثل Figma،‏ Zeplin و Inspect Mode کار می‌کنید و خروجی‌هاتون آماده توسعه خواهند بود. پروژه‌هاتون تست و بهینه می‌شوند.
         </p>
         <h5>
         🎤 رزومه، پورتفولیو و مصاحبه
         </h5>
         <p>
         یاد می‌گیرید چطور پورتفولیوی شخصی بسازید، پروژه‌هاتون رو ارائه بدهید و برای مصاحبه‌های شغلی آماده شوید. منتورها به شما فیدبک می‌دهند و راهنمایی‌ت می‌کنند.
         </p>
         <h5>
         🎓 پروژه نهایی: اجرا، دفاع، ارتقا
         </h5>
         <p>
         در طی دوره پروژه‌ای واقعی رو انجام می‌دهید، ارائه‌اش می‌دهید و ازش دفاع می‌کنید. منتورها با بازخورد تخصصی مداوم در کنارتان هستند تا پروژه رو به موقع و با خروجی مناسب به انجام برسانید.
         </p>
        </div>
        <div class="files-wrapper">
         <a class="card course-files w-inline-block" href="https://www.dropbox.com/scl/fi/dtaf2bl8xv50l7fgfwfne/.pdf?rlkey=3ya59dqdig9cyuomy8yog0qqn&st=295kh275&dl=1">
          <div class="split-content course-files-left">
           <div class="icon-files-wrapper">
            <img alt="Document" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c587571c6be6_icons-files-02-academy-template.svg"/>
           </div>
           <div class="title files-resources">
            سرفصل‌های کمپ طراحی محصول.pdf
           </div>
          </div>
          <div class="download-files-text">
          دریافت فایل
           <span class="icon-file">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
              <path d="M5.523 12.424q.21-.124.459-.238a8 8 0 0 1-.45.606c-.28.337-.498.516-.635.572l-.035.012a.3.3 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548m2.455-1.647q-.178.037-.356.078a21 21 0 0 0 .5-1.05 12 12 0 0 0 .51.858q-.326.048-.654.114m2.525.939a4 4 0 0 1-.435-.41q.344.007.612.054c.317.057.466.147.518.209a.1.1 0 0 1 .026.064.44.44 0 0 1-.06.2.3.3 0 0 1-.094.124.1.1 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256M8.278 6.97c-.04.244-.108.524-.2.829a5 5 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.5.5 0 0 1 .145-.04c.013.03.028.092.032.198q.008.183-.038.465z"/>
              <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.7 11.7 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.86.86 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.84.84 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.8 5.8 0 0 0-1.335-.05 11 11 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.24 1.24 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a20 20 0 0 1-1.062 2.227 7.7 7.7 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103"/>
            </svg>
           </span>
          </div>
         </a>
        </div>
       </div>
       <div class="videos-tab-panel w-tab-pane" data-w-tab="Tab 3">
        <h3 class="title videos-community">
         اساتید و منتورها
        </h3>
        <div class="videos-social-media-wrapper">
         <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/armin-abbasi/">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Armin-Abbasi.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             آرمین عباسی
            </h3>
            <p class="paragraph mg-bottom-0px">
             آرمین عباسی با بیش از ده سال تجربه در زمینه طراحی محصول، تجربه کاربری و استراتژی تجربه، در حال حاضر رهبری تیم طراحی محصول در شرکت ازکی را بر عهده دارد. او پیش‌تر در شرکت‌هایی مانند اسنپ‌پی، اسنپ و پلتفرم پیاده فعالیت داشته و در هر یک از این نقش‌ها، تجربیات ارزشمندی کسب کرده است.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/irsodeh/">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Sodeh-Mohammadabadi.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             سوده محمدآبادی
            </h3>
            <p class="paragraph mg-bottom-0px">
             سوده، طراح محصول و خدمات، بنیان‌گذار کانون تفکر طراحی و کوچ تفکر طراحی در کسب‌وکارهاست. او همچنین به‌عنوان پژوهشگر در حوزه کاربرد هوش مصنوعی در دیزاین فعالیت می‌کند. با بیش از ۱۵ سال تجربه در تقاطع دیزاین، فناوری و نوآوری، سوده به سازمان‌ها کمک می‌کند تا برای مسائل پیچیده، راه‌حل‌هایی خلاقانه، انسانی و مبتنی بر داده طراحی کنند.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/rezamoradidesign/">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Reza-Moradi.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             رضا مرادی
            </h3>
            <p class="paragraph mg-bottom-0px">
             رضا مرادی طراح و مشاور دیزاین با تمرکز بر هویت برند، طراحی وب و موشن‌دیزاین است. او پیش‌تر به‌عنوان مدیر هنری در استودیو Obtic و صرافی بیت۲۴ فعالیت کرده و هم‌اکنون به‌صورت تخصصی در پروژه‌های برندینگ به‌عنوان راهبر طراحی و مشاور همکاری می‌کند.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/fatemeh-chehregan/">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Fatemeh-Chehreghan.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             فاطمه چهرگان
            </h3>
            <p class="paragraph mg-bottom-0px">
             فاطمه پژوهشگر تجربه کاربر با تمرکز بر محصولات دیجیتال است. او دارای مدرک کارشناسی ارشد انسان‌شناسی بوده و با تسلط بر روش‌های کیفی و کمی، در پروژه‌های مختلف تحقیقاتی مرتبط با محصول و رفتار کاربران مشارکت داشته است.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/alibmn/">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Ali-Bahmani.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             علی بهمنی
            </h3>
            <p class="paragraph mg-bottom-0px">
             علی مدیر محصول در شرکت Passage در تورنتو است و سابقه همکاری در پروژه‌های بین‌المللی در دبی، ایالات متحده، بریتانیا و کانادا را در کارنامه دارد. پیش از این، مدیریت تیم‌های تجربه کاربری و تحقیق کاربر در شرکت‌هایی مانند کافه‌بازار و بلد را بر عهده داشته است. علی همچنین به‌عنوان هنرمند و طراح اوریگامی، سابقه برگزاری نمایشگاه‌ها و کارگاه‌های بین‌المللی در این حوزه را دارد.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/nesapabakht/">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Nesa-Pabakhtzadeh.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             نسا پابخت‌زاده
            </h3>
            <p class="paragraph mg-bottom-0px">
             نساء با بیش از هشت سال سابقه در طراحی تجربه کاربر، در پروژه‌های متعددی در حوزه‌های B2B و B2C فعالیت کرده است. علاقه‌مندی او به روایت و دقت در جزئیات که از سینما نشأت گرفته، به طراحی تجربه کاربر او جهت داده است. نساء با تمرکز بر تحقیق داده‌محور و طراحی رابط‌های ساده، تجربه‌هایی خلق می‌کند که هم برای کاربران دلپذیر و هم برای کسب‌وکارها اثربخش هستند. او هم‌اکنون طراح ارشد تجربه کاربری در شرکت Mirorim است.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="#">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Placeholder.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             مدرس Figma
            </h3>
            <p class="paragraph mg-bottom-0px">
             فیگما یک ابزار طراحی رابط کاربری و همکاری تیمی آنلاین برای یکپارچه و کارآمد کردن پروژه است که امکان طراحی، نمونه‌سازی و بازخورد سریع رو به صورت همزمان فراهم می‌کند.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="https://www.behance.net/saeidmirzaei">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Saeed-Mirzaei.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             سعید میرزایی
            </h3>
            <p class="paragraph mg-bottom-0px">
             سعید، طراح محصول و متخصص UI/UX با تجربه‌ای گسترده در صنایع مختلف است. او با رویکرد کاربرمحور، تجربه‌های دیجیتال کارآمد و جذاب خلق می‌کند.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            Behance
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/zahra8amiri/">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Zahra-Amiri.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             زهرا امیری
            </h3>
            <p class="paragraph mg-bottom-0px">
             زهرا، استراتژیست برند است که با خلق روایت‌های اصیل، هویت و صدای ویژه برندها رو شکل می‌دهد و در توسعه فرهنگ سازمانی و ارتباط با مخاطب نقش دارد.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/benyaminnajafi/">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Benyamin-Najafi.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             بنیامین نجفی
            </h3>
            <p class="paragraph mg-bottom-0px">
             بنیامین در حوزه طراحی محصول و خدمات تجربه‌ای گسترده دارد و بخش قابل‌توجهی از مسیر حرفه‌ای خود را در شرکت‌های نوآور و استارتاپ‌هایی مانند دیوار، اسنپ‌شاپ و اسنپ‌اکسپرس سپری کرده است. تمرکز فعلی او بر طراحی خدمات کاربرمحور و هدایت تیم‌های طراحی از مرحله شکل‌گیری ایده تا پیاده‌سازی و عرضه اولیه به بازار است.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
         <div class="spacer videos-community">
         </div>
         <a class="card videos-community w-inline-block" href="https://www.linkedin.com/in/komeil-roudi-7b62536b/">
          <div class="split-content videos-community-left">
           <div class="icon-videos-community-wrapper">
            <img alt="teacher" src="/img/camps/design-1404/Komeil-Roudi.png"/>
           </div>
           <div>
            <h3 class="title videos-community-card">
             کمیل رودی
            </h3>
            <p class="paragraph mg-bottom-0px">
             کمیل، عضو هیأت علمی آکادمی هوش مالی و پژوهشگر مدیریت رفتار سازمانی با دکتری از دانشگاه تهران است. او مأموریتش را توانمندسازی نسل جوان در مسیر رشد فردی و مالی می‌داند.
            </p>
           </div>
          </div>
          <div class="button-secondary small">
           <div>
            لینکدین
           </div>
          </div>
         </a>
        </div>
       </div>
       <div class="videos-tab-panel w-tab-pane" data-w-tab="Tab 4">
        <div class="top-content videos">
         <h3 class="title videos">
          پیش‌ثبت‌نام
         </h3>
         <p class="paragraph">
          به دلیل ظرفیت محدود کمپ و برای اطمینان از این‌که همه شرکت‌کنندگان آماده یادگیری و همراهی در مسیر پرانرژی برنامه هستند، یک گفت‌وگوی دوستانه در نظر گرفته‌ایم. در این مصاحبه با شما بیشتر آشنا می‌شویم و طرز فکر، خلاقیت و میزان آشنایی شما با موضوع رو می‌سنجیم.
         </p>
         <p>
         فرم پذیرش تا <strong> ۳۱ شهریور</strong> و یا تا وجود داشتن ظرفیت باز می‌باشد.<br>
         </p>
        </div>
{{ partial "form" . }}
        <div class="divider videos">
        </div>
        <div class="top-content videos">
         <h3 class="title videos">
          ثبت‌نام
         </h3>
         <p class="paragraph">
          در صورت موفقیت در مصاحبه، کد ثبت‌نام برایتان ارسال می‌شود. پس از پذیرش اولیه، لطفا تا <strong>یک هفته</strong> شهریه رو پرداخت نمایید. امکان پرداخت در <strong>دو قسط</strong> به‌صورت نیمی از شهریه در این زمان و یک فقره چک برای آذر نیز وجود دارد.
         </p>
        </div>
        <div class="videos-wrapper">
         <a class="card course-video w-inline-block" href="https://payping.ir">
          <div class="split-content course-video-left">
           <img height=64px alt="Play Icon" class="course-video-icon" src="/img/icons/credit-pay-icon.png"/>
           <div>
            <h3 class="title course-video">
             پرداخت شهریه
            </h3>
            <p class="paragraph mg-bottom-0px">
             در صورتی که پذیرش شما نهایی شده است، برای پرداخت شهریه از اینجا اقدام کنید.
            </p>
           </div>
          </div>
          <div class="course-video-duration-text">
           مهلت: ‌یک هفته پس از پذیرش
          </div>
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="container-default-1209px w-container">
    <div class="divider" data-w-id="fee87d54-5c1d-9d5c-67e3-157fa7bb8bfa" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    </div>
   </div>
<!-- related-courses was here-->
   <div class="container-default-1209px w-container">
    <div class="divider" data-w-id="fee87d54-5c1d-9d5c-67e3-157fa7bb8c04" style="-webkit-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 48PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
    </div>
   </div>
{{ partial "footer" . }}
  </div>
{{ partial "chat-popup" . }}
  <script crossorigin="anonymous" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5f52d24bbe17c561061c6b7a" type="text/javascript">
  </script>
  <script src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/js/webflow.2ad338597.js" type="text/javascript">
  </script>
  <script src="/js/sticky.js" type="text/javascript"></script>
  <script src="/js/go-to-top-of-tab.js" type="text/javascript"></script>
  <script src="/js/go-to-the-specific-tab.js" type="text/javascript"></script>
 </body>
</html>
