body {
  color: var(--paragraphs);
  font-family: Vazirmatn, Noto Naskh Arabic, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}

/* =================Navbar================ */

@media screen and (min-width: 992px) {
  .container-default-1209px {
    direction: rtl;
  }
}

.nav-menu {
  margin-left: auto;
  margin-right: 40px;
}

.cart {
  margin-right: auto;
  margin-left: 26px;
}

.dropdown-icon {
  right: 4px;
}

.w-commerce-commercecartopenlinkcount {
  margin-left: auto;
  margin-right: 8px
}

/* =================Main Menue================ */
.menu-grid-wrapper {
  text-align: right;
}

/* =================Index================ */
.event-icon {
  margin-left: 12px;
}

.event-date-wrapper {
  margin-right: 0;
  margin-left: 40px;
}

.event-location-text {
  max-width: 260px;
}

.button-primary, .footer-title {
  letter-spacing: 0;
}

.newsletter-icon-wrapper {
  margin-right: auto;
  margin-left: 16px;
}
/* =================Sales Home================ */
.section {
  direction: rtl;
}

/* =========Primary Home========== */
.split-content.about-section-right {
  margin-left: auto;
  margin-right: 71px;
}

/*Our Student section*/
.title.companies {
  letter-spacing: 0;
}
/* =========404========== */
.text-center {
  direction: rtl;
}

.button-secondary {
  letter-spacing: .02em;
}

/* =========Courses========== */
.level-icon {
  margin-right: auto;
  margin-left: 8px;
  -webkit-transform: scaleX(-1); /* For Safari */
  transform: scaleX(-1);
} /*WiFi icon*/

.testimonial-student-image {
  margin-right: auto;
  margin-left: 18px;
}

.student-details {
  text-align: right;
}
/* =========Single Course========== */
.videos-detail-icon {
  margin-right: 0;
  margin-left: 14px;
  -webkit-transform: scaleX(-1); /* For Safari */
  transform: scaleX(-1);
}

.icon-videos-community-wrapper {
  margin-right: 0;
  margin-left: 24px;
  width: 130px;
  min-width: 130px;
  height: 130px;
}

.icon-files-wrapper {
  margin-right: auto;
  margin-left: 16px;
}

.course-video-icon {
  margin-right: 0;
  margin-left: 31px;
}

/* =========Chat Popup========== */
.more-templates-badge-wrapper {
  direction: rtl;
}

.block {
  display: block;
} /*to have a new line after*/

.more-templates-lottie-2 {
  inset: -18px auto auto -19px;
}

.brix-badges-wrapper {
  height: 148px;
}

/* =========Hambergur Menu========== */
@media screen and (max-width: 767px) {
    .nav-link, .footer-links-block {
        direction: rtl;
    }
}

@media screen and (max-width: 991px) {
    .header {
        direction: rtl;
    }
}

.w--nav-dropdown-open {
  direction: rtl;
}
/* ========================= */
/* =========MOBILE========== */
/* ========================= */
@media screen and (max-width: 767px) {
  .split-content.about-section-right {
    margin-right: auto;
    margin-left: 16px;
  }
}

.w-tab-link {
  text-align: right;
}

@media screen and (max-width: 991px) {
  .footer-mobile-content {
    text-align: right;
  }
}

@media screen and (max-width: 479px) {
  .input.newsletter {
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .split-content.video-hero-left, .videos-tab-link.w--current, .student-details {
    text-align: right;
  }
}

@media screen and (max-width: 991px) {
  .links-block._2, .links-block._3, .split-content.newsletter-left {
    direction: rtl;
  }
} /*footer*/

@media screen and (max-width: 767px) {
  .fine-print {
    direction: rtl;
  }
} /*CopyRight*/

@media screen and (max-width: 767px) {
  .testimonial-student-image {
    margin-left: 18px;
  }
} /*Courses*/

@media screen and (max-width: 767px) {
  .top-content.videos {
    text-align: right;
  }
}
