   <div class="section cta" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b32">
    <div class="container-default-1209px w-container">
     <div class="cta-wrapper">
      <div class="split-content cta-left" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b35">
       <h2 class="title cta">
        رشد شغلی خود را آغاز کنید!
        <br/>
        یادگیری از همین امروز...
       </h2>
       <p class="paragraph cta">
        مهارت‌های کاربردی را از متخصصان می‌آموزید، تجربه‌های واقعی را تمرین می‌کنید و برای رسیدن به اهداف حرفه‌ای‌تان یک قدم بزرگ برمی‌دارید.
       </p>
       <a class="button-secondary cta w-button" href="/camps">
        همه کمپ‌ها
       </a>
      </div>
      <div class="split-content cta-right" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b3e">
       <img alt="Web App Courses" class="image cta-1" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/60a69e91e2f631933689bacf_image-cta-01-academy-template.svg"/>
       <img alt="Marketing" class="image cta-4" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/60a69fa331afdffd43a75fcd_image-cta-04-academy-template.svg"/>
       <img alt="Development Course" class="image cta-3" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/60a69f8c6c08d8e5f25816e0_image-cta-03-academy-template.svg"/>
       <img alt="Mobile App Course" class="image cta-2" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/60a69f992874344258993cb2_image-cta-2.svg"/>
      </div>
      <img alt="" class="circle-shape-cta _4" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b43" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c5307e1c6ba0_circle-shape-cta-04-academy-template.svg"/>
      <img alt="" class="circle-shape-cta _3" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b44" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c5eae41c6ba8_circle-shape-cta-03-academy-template.svg"/>
      <img alt="" class="circle-shape-cta _2" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b45" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c50d8c1c6ba7_circle-shape-cta-02-academy-template.svg"/>
      <img alt="" class="circle-shape-cta _1" data-w-id="458a3e47-e544-5eec-ffce-58aa64417b46" src="https://cdn.prod.website-files.com/5f52d24bbe17c561061c6b7a/5f52d24bbe17c5ec2b1c6b96_circle-shape-cta-01-academy-template.svg"/>
     </div>
    </div>
   </div>
